{% extends 'book_reviews/base.html' %}
{% block title %}Add and Review{% endblock %}

  {% block content %}
  {% if messages %}
    <div class="errors">
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
    </div>
  {% endif %}
  <form class="" action="{% url 'books:add' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>Book Title: <input type="text" name="title" class="form-control"></label>
    </div>
    <div class="form-group">
      <label>Author:<br>
        Choose from the list:
          <select class="form-control" name="author1">
            <option value="" selected></option>
            {% for author in authors %}
            <option value="{{author.id}}">{{author.name}}</option>
            {% endfor %}
          </select><br>
        Or add a new author: <input type="text" name="author2" class="form-control"></label>
    </div>
    <div class="form-group">
      <label>Review: <textarea name="review" rows="6" cols="60" class="form-control"></textarea></label>
    </div>
    <div class="form-group">
      <label>Rating: <br>
        <input type="range" name="rating" min="1" max="5" value="3" class="form-control" id ="starInputId" oninput="starOutputId.value = starInputId.value">&nbsp;<output name="star" id ="starOutputId">3</output> stars</label>
    </div>
    <input type="submit" name="" value="Add Book and Review">
  </form>
  {% endblock %}
